body{   
    background-color: rgb(77, 217, 206);
    font-size: 20px;
}

.lasagna {
    background-color: rgba(126, 102, 221, 0.286);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.pastabake {
    background-color: rgba(126, 102, 221, 0.286);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.shrimp-pesto {
    background-color: rgba(126, 102, 221, 0.286);
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

a:hover {
    color: white;
    background-color: rgb(19, 212, 170);
}